#container {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;

}

.comp {
    color: gray;
    text-decoration: line-through;
}

h1 {
    background: #2980b9;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', "sans-ser"
        background: #ffd89b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li {
    background: #fff;
    color: #666;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n) {
    background: #f7f7f7;
}


input {
    width: 100%;
    padding: 13px 13px 13px 20px;
    font-size: 18px;
    background-color: #f7f7f7;
    color: #2980b9;
    box-sizing: border-box;
    border: solid 3px rgba(0, 0, 0, 0);
}

input:focus {
    background: #fff;
    border: #2980b9 3px solid;
    outline: none;
}

.fa-plus {
    float: right;
}

span {
    margin-right: 20px;
    background-color: red;
    color: white;
    height: 40px;
    text-align: center;
    width: 0;
    display: inline-block;
    opacity: 0;
    transition: 0.2s linear;
}

li:hover span {
    opacity: 1.0;
    width: 40px;
}